[submodule "src/piper_ros"]
	path = src/piper_ros
	url = https://github.com/agilexrobotics/piper_ros.git
	branch = humble
[submodule "src/vr_quest2_pub"]
	path = src/vr_quest2_pub
	url = git@github.com:ZhiChengAIR/vr_quest2_pub.git
[submodule "src/coinrobot"]
	path = src/coinrobot
	url = git@github.com:ZhiChengAIR/coinrobot.git
[submodule "src/camera_driver"]
	path = src/camera_driver
	url = git@github.com:ZhiChengAIR/camera_driver.git
[submodule "src/tr3_translator"]
	path = src/tr3_translator
	url = git@github.com:ZhiChengAIR/tr3_translator.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = git@github.com:ZhiChengAIR/realsense-ros.git
